.intro {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;

    h1 {
        font-size: 75px;
        margin: 0px 300px 0px 0px;

    }

    h2 {
        font-size: 40px;
        margin-right: 300px;
        margin-top: none;
    }
}
